.-level-0
    background-color #6CC85A
.-level-1
    background-color #AAC85A
.-level-2
    background-color #C8C15A
.-level-3
    background-color #E6B04A
.-level-4
    background-color #E68B4A
.-level-5
    background-color #F2733C
.-level-6
    background-color #F15B26
.-level-7
    background-color #F65224
.-level-8
    background-color #ED5D5D
.-level-9
    background-color #F43B3B
.-level-10
    background-color #F92C2C
.-level-11
    background-color #EB0000
