.intro
    .login
        position absolute
        height 40%
        width 70%
        margin auto
        top 0
        bottom 20%
        left 0
        right 0
        text-align center
        background-color rgb(228, 248, 229)
        border-radius 0.7em

        .title
            padding 10px
            font-size 2em
            font-weight bold
            color rgb(23, 62, 127)

        .content
            text-align center

            .username
                .label, input
                    display inline-block

            .button
                margin 20px
                font-size 1em
                background-color rgb(38, 93, 0)
                width 120px
                display inline-block
                height 2.2em
                line-height 2.2em
                border-radius 0.3em
                color white
