.opponents
    .opponents-stage
        .opponent
            display inline-block
            height 150px
            width 150px
            position relative
            .name
                display inline-block
            .grid
                position relative
                height 100px
                width 100px
                .tile
                    ._inner
                        border-radius 0
                    ._value
                        font-size 8px

