.opponents
    .opponents-stage
        .opponent
            display inline-block
            height 150px
            width 150px
            position relative
            margin 0.5em
            .status
                margin 5px 0
                .stat
                    display inline-block
                .rank
                    margin-right 5px
                    font-weight bold
            .grid
                position relative
                height 100px
                width 100px
                .tile
                    ._inner
                        border-radius 0
                    ._value
                        font-size 8px

