.opponents
    .opponents-stage
        .opponent
            display inline-block
            height 150px
            width 150px
            position relative
            margin 0.5em
            .overlay
                position absolute
                top 0
                left 0
                height 100%
                background white
                width 100%
                opacity 0.7
                .game-over
                    margin auto
                    position absolute
                    height 1em
                    top 0
                    bottom 0
                    text-align center
                    width 100%
            .status
                margin 5px 0
                text-align center
                .stat
                    display inline-block
                .rank
                    margin-right 5px
                    font-weight bold
            .grid
                position relative
                margin auto
                height 100px
                width 100px
                .tile
                    ._inner
                        border-radius 0
                    ._value
                        font-size 8px

