.stage
    height 100%
    .opponents
        display inline-block
        width 35%
        height 90%
        vertical-align top
        .opponents-stage
            height 100%
    .player
        display inline-block
        width 65%
        height 90%
        .status
            height 10%
            .section
                display inline-block
                height 100%
                vertical-align top
            .powerups
                width 60%
                background-color red
            .score
                width 20%
                background-color blue
            .rank
                width 20%
                background-color yellow

        .board
            height 90%

    .log
        display block