.app
    height 100%
.stage
    height 100%
    .opponents
        display inline-block
        width 35%
        height 80%
        vertical-align top
        .opponents-stage
            height 100%
    .player
        display inline-block
        width 65%
        height 80%
        .status
            height 10%
            .section
                display inline-block
                height 100%
                vertical-align top
                border 1px solid #ccc
                border-left none
                box-sizing border-box
            .powerups
                width 60%
                border-left 1px solid #ccc
            .score
                width 20%
                text-align center
                .text
                    font-size 1.6em
                    vertical-align center
                    margin-top 5px
                    .wrap
                        margin auto
            .rank
                width 20%
                text-align center
                .text
                    font-size 30px

        .board
            height 85%
            position relative

            .board-status
                position absolute
                top 0
                left 0
                height 100%
                width 100%
                background-color white
                opacity 0.7
                text-align center

                .loser
                    height 3em
                    font-size 3em
                    font-weight bold
                    color #555
                    margin auto
                    top 0
                    bottom 0
                    position absolute
                    width 100%

        .identify
            height 5%
            .text
                padding 2%
                text-align center
                font-size 2em

    .log
        display block
        padding 1em
        height 15%
        .title
            font-weight bold
        .text-wrap
            position relative
            overflow hidden
            height 70%
            .text
                position absolute
                bottom 0
