.app
    height 100%
.stage
    height 100%
    .opponents
        display inline-block
        width 35%
        height 90%
        vertical-align top
        .opponents-stage
            height 100%
    .player
        display inline-block
        width 65%
        height 90%
        .status
            height 10%
            .section
                display inline-block
                height 100%
                vertical-align top
                border 1px solid #ccc
                border-left none
                box-sizing border-box
            .powerups
                width 60%
                border-left 1px solid #ccc
            .score
                width 20%
                text-align center
                .text
                    font-size 1.6em
                    vertical-align center
                    margin-top 5px
                    .wrap
                        margin auto
            .rank
                width 20%
                text-align center
                .text
                    font-size 30px

        .board
            height 85%
        .identify
            height 5%
            .text
                padding 2%
                text-align center
                font-size 2em

    .log
        display block