.tile
    display block
    position absolute
    ._inner
        -webkit-transition opacity linear $timing
        transition opacity linear $timing
        display block
        position relative
        height 96%
        width 96%
        left 3%
        top 2%
        border-radius 0.7em
        text-align center
        ._powerup
            height 2em
            width 2em
            background-color rgb(155, 18, 211)
            margin auto
            border-radius 1em
            position absolute
            right 0
            left 0
            bottom 50%
            top 0
        ._value
            font-size 22px
            vertical-align middle
            display inline-block
            position absolute
            margin auto
            right 0
            left 0
            bottom 0
            top 0
            height 13px
        &.-reduced
            opacity 0