.stage
    .opponents
        .opponent(ng-repeat='opponent in opponents')
            sw-game-board(sw-data="opponent.tiles")
            .name {{ opponent.name }}
    .player
        sw-game-board#main-board(sw-data="tiles")
    .log