.app
    .intro(ng-show="state.login")
        sw-login
    .wait(ng-show="state.waitForPlayers")
        sw-waiting
    .stage(ng-if="state.gameplay || state.gameover")
        .opponents
            .opponents-stage
                .opponent(ng-repeat='opponent in opponents')
                    sw-game-board(sw-data="opponent.tiles")
                    .status
                        .stat.rank {{ opponent.rank }}
                        .stat.name {{ opponent.name }}
                    .overlay(ng-show="opponent.message")
                        .game-over(ng-show="opponent.status.gameover")
                            span(ng-show="opponent.status.loser") LOSER
                            span(ng-show="opponent.status.winner") WINNER
        .player
            .status
                .powerups.section
                    .label Power-ups
                    .icons
                        .powerup-icon-wrap(ng-repeat='powerup in powerups')
                            div(class="{{powerup.class}}")
                                span.label{{powerup.label}}

                .score.section
                    .label Score
                    .text
                        .wrap {{ score }}
                .rank.section
                    .label Rank
                    .text {{ rank }}
            .board
                sw-game-board#main-board(sw-data="tiles")
                .board-status(ng-show="gameover")
                    .winner(ng-show="winner") WINNER
                    .loser(ng-show="loser") LOSER
            .identify
                .text {{ name }}
        .log
            .title Messages
            .text-wrap
                .text
                    .log-line(ng-repeat='log in logs')
                        span {{log.text}}