.app
    .intro(ng-if="!loggedIn")
        sw-login
    .stage(ng-if="loggedIn")
        .opponents
            .opponents-stage
                .opponent(ng-repeat='opponent in opponents')
                    sw-game-board(sw-data="opponent.tiles")
                    .status
                        .stat.rank {{ opponent.rank }}
                        .stat.name {{ opponent.name }}
                    .overlay(ng-if="opponent.message")
                        .game-over(ng-if="opponent.status.gameover")
                            span GAME OVER
        .player
            .status
                .powerups.section
                .score.section
                    .label Score
                    .text
                        .wrap {{ score }}
                .rank.section
                    .label Rank
                    .text {{ rank }}
            .board
                sw-game-board#main-board(sw-data="tiles")
                .board-status(ng-if="gameover")
                    .winner(ng-if="winner") WINNER
                    .loser(ng-if="loser") LOSER
            .identify
                .text {{ name }}
        .log