!!!
html(lang="en")
  head
    meta(charset="utf-8")

    title Test

    link(rel="shortcut icon", href="/assets/images/favicon.ico")
    link(rel="stylesheet", href="/assets/style.css")

    script(src="/socket.io/socket.io.js")
    script(src="/vendors/angular/angular.js")
    script(src="/vendors/angular-animate/angular-animate.js")

  body#ng-app(ng-app="swarm-2048")
    sw-stage


    script(src="/app.js")
    script(src="/templates.js")
