.login
    .title
        | Swarm 2048
    .content
        .username
            .label Please enter your name:
            input(ng-model='username' sw-focus='true')
        .button(ng-click='submit()') Start